@charset "UTF-8";
/*************************************
Page d'accueil Header
*************************************/
/**********************************************************
Page d'accueil section fonctionnement
**********************************************************/
/***************************************************************
Page d'accueil section restaurants
***************************************************************/
@keyframes spin {
  100% {
    opacity: 0;
    z-index: -10;
    transform: rotate(360deg);
  }
}
@keyframes loader-cerclecontainer {
  100% {
    opacity: 0;
    z-index: -1000;
  }
}
@keyframes ico-menus {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.menus-icon, .menus-choix, .logo-menus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer-container {
  display: flex;
  flex-direction: column;
  text-align: start;
}

body {
  width: 100%;
  align-content: center;
  margin: auto;
  height: auto;
}

.section-restaurants .container-restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-menus {
  width: 100%;
  height: 60vw;
  object-fit: cover;
}

.carte-restaurant {
  margin-top: -1.8rem;
  position: relative;
  background-color: white;
  border-radius: 2rem 2rem 0 0;
}

header, .carte-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#logo {
  margin: 1rem;
  border-radius: 0;
  width: 10rem;
  position: relative;
}

.container {
  display: flex;
  /*align-items: center;*/
  background-color: #fff;
  justify-content: space-between;
}

.icon-coeur {
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
}

.container .menus-prix {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer-menus .footer-contact, .footer-menus .footer-legal, .footer-menus .footer-part, .footer-menus .footer-rest {
  color: white;
  padding: 0.3rem;
  text-decoration: none;
}

/***********************************
Section ville
***********************************/
.ville-section {
  padding: 1rem 0 1rem 0;
  font-size: 1.2rem;
  background-color: #dbdadaf2;
  width: 100%;
  display: flex;
  justify-content: center;
}
.ville-section .mappy {
  padding: 0 1rem 0 0;
}

/************************************
Exploration des restaurants
************************************/
.explore-section {
  background-color: #f3f2f2f2;
  width: 100%;
  height: 30vh;
  justify-content: center;
  text-align: center;
  padding: 1.2rem 0 0 0;
}
.explore-section .explore-titre {
  font-size: 1.5rem;
  justify-content: center;
  padding: 1rem 0 1rem 0;
  font-style: normal;
}
.explore-section .explore-texte {
  font-size: 1.1rem;
  margin: 0 0 3rem 0;
}
.explore-section .explore {
  font-size: 1rem;
  padding: 1rem;
  margin: 5rem 0rem 5rem 0rem;
  border-radius: 100px;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 5px 5px 10px #cecdcd, -5px -5px 10px #cfcece;
  cursor: pointer;
  transform: translateX(-5%);
  transition: opacity 0.4s;
}
.explore-section .explore:hover {
  opacity: 0.9;
}

.fct-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.fct-section .fct-titre {
  padding: 3rem 0rem 1rem 1rem;
  text-align: left;
  font-size: 1.5rem;
}

.fct-container {
  background-color: white;
  margin: 0 0 3rem 0;
  width: 100%;
}
.fct-container .btns {
  list-style: none;
  font-size: 1.3rem;
  background-color: white;
  margin: 1rem 0 1rem 0;
}
.fct-container .btn:hover {
  color: #9356DC;
}
.fct-container .btn1 {
  position: relative;
  background-color: white;
  border: 2px solid transparent;
  padding: 0 0.5rem 0 0;
  margin: 1rem 0.5rem 1rem 1rem;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #cecdcd, -5px -5px 10px #cfcece;
}
.fct-container .btn1::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  color: white;
  font-size: 1rem;
  background-color: #9356DC;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px #cecdcd, -5px -5px 10px #cfcece;
  left: 0;
  bottom: 0;
  transform: translate(-50%, -60%);
  content: "1";
}
.fct-container .btn2 {
  position: relative;
  background-color: white;
  border: 2px solid transparent;
  padding: 0 0.5rem 0 0;
  margin: 1rem 0.5rem 1rem 1rem;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #cecdcd, -5px -5px 10px #cfcece;
}
.fct-container .btn2::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  color: white;
  font-size: 1rem;
  background-color: #9356DC;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px #cecdcd, -5px -5px 10px #cfcece;
  left: 0;
  bottom: 0;
  transform: translate(-50%, -60%);
  content: "2";
}
.fct-container .btn3 {
  position: relative;
  background-color: white;
  border: 2px solid transparent;
  padding: 0 0.5rem 0 0;
  margin: 1rem 0.5rem 1rem 1rem;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #cecdcd, -5px -5px 10px #cfcece;
}
.fct-container .btn3::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  color: white;
  font-size: 1rem;
  background-color: #9356DC;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px #cecdcd, -5px -5px 10px #cfcece;
  left: 0;
  bottom: 0;
  transform: translate(-50%, -60%);
  content: "3";
}
.fct-container .btn-descpt {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}

.icon-fct {
  padding: 1.5rem 1rem 1.5rem 2.5rem;
}
.icon-fct:hover {
  color: #9356DC;
}

/***********************************
Section restaurants
***********************************/
.section-restaurants {
  width: 100%;
  position: relative;
  background-color: #f2f2f2f2;
}
.section-restaurants .section-titre .titre {
  padding: 3rem 0 0 1rem;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
}
.section-restaurants .container-restaurants {
  /*max-width: 1280px;*/
}
.section-restaurants .diapos-restaurants {
  border-radius: 15px;
  background-color: white;
  padding: 0 0 1rem 0;
  margin: 1rem;
}
.section-restaurants .restaurant {
  text-decoration: none;
}
.section-restaurants .contenu-restaurants .rest-img {
  width: 90vw;
  height: 60vw;
  min-width: 35vw;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.section-restaurants .nouveau {
  position: absolute;
  background-color: #99e2d0;
  padding: 0.3rem;
  font-size: 1rem;
  margin: 1rem 0 0rem -6rem;
  color: darkgreen;
}

.icon-coeur .description {
  width: 80%;
}
.icon-coeur .description .rest-titre {
  font-size: 1.2rem;
  color: black;
  padding: 0.3rem 1rem;
  font-style: normal;
  font-weight: normal;
}
.icon-coeur .description .rest-description {
  font-size: 1.1rem;
  color: black;
  padding: 0rem 1rem;
}
.icon-coeur .coeur {
  width: 15%;
  margin-top: 15px;
}
.icon-coeur .coeur .fas {
  font-size: 1.5rem;
}

/********************************
Footer
********************************/
.footer {
  background-color: black;
  width: 100%;
}
.footer .footer-container {
  padding: 1rem;
}

.footer-menus {
  color: white;
  list-style: none;
  text-decoration: none;
}
.footer-menus .footer-logo {
  color: white;
  text-decoration: none;
  font-family: "Shrikhand", Roboto;
  font-size: inherit;
  /* font-style: italic;*/
}
.footer-menus .footer-liens {
  padding: 0.2rem;
}
.footer-menus .footer-icon1 {
  padding: 0.3rem;
  font-size: 1rem;
}
.footer-menus .footer-icon2 {
  padding: 0.3rem;
  font-size: 0.7rem;
}
/***********************************************************************
Page d'accueil des restaurants
***********************************************************************/
@media screen and (min-width: 280px) and (max-width: 767.98px) {
  .explore-section {
    height: 70vh;
  }
  .explore-section .explore-texte {
    margin: 0 0 3rem 0;
  }
}
@media screen and (min-width: 767.98px) and (max-width: 1200px) {
  .explore-section {
    height: 60vh;
  }
  .explore-section .explore-texte {
    margin: 0 0 3rem 0;
  }

  .fct-section .fct-titre {
    padding: 3rem 7rem 1rem 1rem;
    text-align: left;
    font-size: 2rem;
  }
}
/*@media (max-width: 991.98px)*/
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .explore-section {
    height: 20vh;
  }
  .explore-section .explore-texte {
    margin: 0 0 3rem 0;
  }

  .fct-section {
    display: block;
    align-items: center;
    width: 100%;
  }
  .fct-section .fct-titre {
    padding: 3rem 7rem 1rem 7rem;
    text-align: center;
  }

  .fct-container {
    display: contents;
    flex-direction: column;
    margin: 0 0 0 0;
  }
  .fct-container .btns {
    display: flex;
    justify-content: space-evenly;
    margin: 0rem 0rem 1rem 0rem;
    padding: 0 0 0 3rem;
  }
  .fct-container .btn1 {
    padding: 0 2rem 0 0;
    margin: 1rem 2.5rem 1rem 1rem;
  }
  .fct-container .btn2 {
    padding: 0 3rem 0 0;
    margin: 1rem 2.5rem 1rem 1rem;
  }
  .fct-container .btn3 {
    padding: 0 3rem 0 0;
    margin: 1rem 2.5rem 1rem 1rem;
  }

  .section-restaurants {
    width: 75%;
    background-color: #f2f2f2f2;
    margin: 3rem;
  }
  .section-restaurants .section-titre {
    padding: 3rem 0 0 2rem;
  }
  .section-restaurants .container-restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
  .section-restaurants .contenu-restaurants {
    grid-row-start: 2 span;
  }
  .section-restaurants .diapos1 {
    grid-row-start: 2;
  }
  .section-restaurants .diapos2 {
    grid-row-start: 2;
  }
  .section-restaurants .diapos3 {
    grid-row-start: 3;
  }
  .section-restaurants .diapos4 {
    grid-row-start: 5;
  }
  .section-restaurants .diapos-restaurants {
    margin: 0.5rem 1rem 3rem 1rem;
  }
  .section-restaurants .contenu-restaurants .rest-img {
    width: 35vw;
    height: 15vw;
  }
}
/*/ X-Large devices (large desktops, less than 1400px)*/
@media screen and (min-width: 1600px) and (max-width: 2000px) {
  .explore-section {
    height: 20vh;
  }
  .explore-section .explore-texte {
    margin: 0 0 3rem 0;
  }

  .fct-section {
    display: block;
    align-items: center;
    width: 100%;
  }
  .fct-section .fct-titre {
    padding: 3rem 7rem 1rem 7rem;
    text-align: center;
  }

  .fct-container {
    display: contents;
    flex-direction: column;
    margin: 0 0 0 0;
  }
  .fct-container .btns {
    display: flex;
    justify-content: space-evenly;
    margin: 0rem 0rem 1rem 0rem;
    padding: 0 0 0 3rem;
  }
  .fct-container .btn1 {
    padding: 0 2rem 0 0;
    margin: 1rem 2.5rem 1rem 1rem;
  }
  .fct-container .btn2 {
    padding: 0 3rem 0 0;
    margin: 1rem 2.5rem 1rem 1rem;
  }
  .fct-container .btn3 {
    padding: 0 3rem 0 0;
    margin: 1rem 2.5rem 1rem 1rem;
  }

  .section-restaurants {
    width: 75%;
    margin: 0rem;
    border-radius: 0px;
  }
  .section-restaurants .section-titre {
    padding: 3rem 0 0 2rem;
  }
  .section-restaurants .container-restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
  .section-restaurants .contenu-restaurants {
    grid-row-start: 2 span;
  }
  .section-restaurants .diapos1 {
    grid-row-start: 2;
  }
  .section-restaurants .diapos2 {
    grid-row-start: 2;
  }
  .section-restaurants .diapos3 {
    grid-row-start: 3;
  }
  .section-restaurants .diapos4 {
    grid-row-start: 5;
  }
  .section-restaurants .diapos-restaurants {
    margin: 0.5rem 1rem 3rem 1rem;
  }
  .section-restaurants .contenu-restaurants .rest-img {
    width: 35vw;
    height: 15vw;
  }
}
/*/ X-Large devices (large desktops, less than 1400px)*/
@media screen and (min-width: 2000px) {
  .explore-section {
    height: 20vh;
  }
  .explore-section .explore-texte {
    margin: 0 0 3rem 0;
  }

  .fct-section {
    display: block;
    align-items: center;
    width: 100%;
  }
  .fct-section .fct-titre {
    padding: 3rem 7rem 1rem 7rem;
    text-align: center;
  }

  .fct-container {
    display: contents;
    flex-direction: column;
    margin: 0 0 0 0;
  }
  .fct-container .btns {
    display: flex;
    margin: 0rem 0rem 1rem 0rem;
    padding: 0 0 0 3rem;
    justify-content: space-evenly;
  }
  .fct-container .btn1 {
    padding: 0 2rem 0 0;
    margin: 1rem 2.5rem 1rem 1rem;
  }
  .fct-container .btn2 {
    padding: 0 3rem 0 0;
    margin: 1rem 2.5rem 1rem 1rem;
  }
  .fct-container .btn3 {
    padding: 0 3rem 0 0;
    margin: 1rem 2.5rem 1rem 1rem;
  }

  .section-restaurants {
    width: 70%;
    margin: 0rem;
    border-radius: 0px;
  }
  .section-restaurants .section-titre {
    padding: 3rem 0 0 2rem;
  }
  .section-restaurants .contenu-restaurants {
    grid-row-start: 2 span;
  }
  .section-restaurants .diapos1 {
    grid-row-start: 2;
  }
  .section-restaurants .diapos2 {
    grid-row-start: 2;
  }
  .section-restaurants .diapos3 {
    grid-row-start: 3;
  }
  .section-restaurants .diapos4 {
    grid-row-start: 5;
  }
  .section-restaurants .container-restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    /*display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;*/
  }
  .section-restaurants .container-restaurants .rest-img {
    width: 35vw;
    height: 15vw;
  }
  .section-restaurants .diapos-restaurants {
    margin: 0.5rem 1rem 3rem 1rem;
  }
}
/***********************************************************************
Pages des cartes des restaurants
***********************************************************************/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .img-menus {
    height: 50vw;
    object-position: center;
  }

  .carte-restaurant {
    width: 100%;
    background-color: white;
    margin-top: -6.8rem;
    border-radius: 2rem 2rem 0 0;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1715px) {
  .img-menus {
    height: 40vw;
    object-position: center;
  }

  .carte-restaurant {
    width: 100%;
    background-color: white;
    margin-top: -6.8rem;
    border-radius: 2rem 2rem 0 0;
  }
  .carte-restaurant .entete .cartes-titre {
    padding: 2rem 0 0 0.5rem;
    text-align: center;
  }
  .carte-restaurant .entete .coeur {
    justify-content: flex-end;
    margin: 2.5rem 0;
  }

  .menus {
    flex-direction: row;
  }
}
@media screen and (min-width: 1715px) and (max-width: 3500px) {
  .img-menus {
    height: 40vw;
    object-position: center;
  }

  .carte-restaurant {
    width: 100%;
    flex-direction: row;
    margin-top: -8.8rem;
    background-color: white;
    border-radius: 2rem 2rem 0 0;
    max-width: 1715px;
  }
  .carte-restaurant .entete {
    flex-direction: column;
    align-items: end;
    width: 90%;
  }
  .carte-restaurant .entete .cartes-titre {
    padding: 3.5rem 0 0 0.5rem;
    text-align: center;
  }
  .carte-restaurant .entete .coeur {
    width: 20%;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    margin: 25px 0 0 75px;
  }

  .menus {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
  }

  .cmd {
    margin: 7rem 3rem 5rem 3rem;
  }
}
/*************************************
En tête des restaurants
*************************************/
header .page {
  max-width: 2000px;
}

.logo-menus {
  width: 100%;
}
.logo-menus .fleche {
  width: 12%;
}
.logo-menus .fa-arrow-left {
  align-self: start;
}

/***********************************
Header des cartes de menus 
***********************************/
/**********************************
Titre du menus et bouton "j'aime"
**********************************/
.entete {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 90%;
}
.entete .cartes-titre {
  width: 100%;
  font-size: 1.4rem;
  padding: 1.5rem 0 0 1.5rem;
}
.entete .coeur {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  font-size: 1.3rem;
  margin-top: 30px;
}
.entete .coeur .icon {
  display: flex;
}

/***************************************
Section menus
***************************************/
.menus {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.menus .section-menus {
  max-width: 100%;
  overflow: hidden;
  padding: 0 0.5rem;
  margin: 0 1rem;
}
.menus .carte-titre {
  font-size: 1rem;
  font-weight: inherit;
  margin-top: 20px;
}
.menus .separateur {
  width: 4rem;
  height: 4px;
  background-color: #99E2D0;
  margin: 0.5rem 0 0 0;
}

/*****************************************
Container des menus
*****************************************/
.container {
  border-radius: 0.9rem;
  box-shadow: 0.2rem 0.2rem 1rem;
  margin: 1rem 0;
  /* width: 98%;
   max-width: 98%;*/
  overflow: hidden;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.container .menus-header {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.container .menus-header .menus-titre {
  font-weight: inherit;
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.container .menus-header .menus-description {
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.container .menus-prix {
  font-family: "roboto";
  padding-bottom: 6px;
  padding-left: 0.5rem;
  font-weight: bold;
}

/*************************************
Bouton commander
*************************************/
.cmd {
  font-size: 1rem;
  padding: 1rem 5rem;
  margin: 3rem 3rem 5rem 3rem;
  border-radius: 100px;
  color: white;
  border: #9356DC;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 5px 5px 10px #cecdcd, -5px -5px 10px #cfcece;
  cursor: pointer;
  transition: opacity 0.4s;
}
.cmd:hover {
  background-color: #cc00ff;
  border: transparent;
}
.cmd:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  border: transparent;
}

/***********************************************************************
Page d'accueil des restaurants
***********************************************************************/
@media screen and (min-width: 280px) and (max-width: 767.98px) {
  .explore-section {
    height: 70vh;
  }
  .explore-section .explore-texte {
    margin: 0 0 3rem 0;
  }
}
@media screen and (min-width: 767.98px) and (max-width: 1200px) {
  .explore-section {
    height: 60vh;
  }
  .explore-section .explore-texte {
    margin: 0 0 3rem 0;
  }

  .fct-section .fct-titre {
    padding: 3rem 7rem 1rem 1rem;
    text-align: left;
    font-size: 2rem;
  }
}
/*@media (max-width: 991.98px)*/
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .explore-section {
    height: 20vh;
  }
  .explore-section .explore-texte {
    margin: 0 0 3rem 0;
  }

  .fct-section {
    display: block;
    align-items: center;
    width: 100%;
  }
  .fct-section .fct-titre {
    padding: 3rem 7rem 1rem 7rem;
    text-align: center;
  }

  .fct-container {
    display: contents;
    flex-direction: column;
    margin: 0 0 0 0;
  }
  .fct-container .btns {
    display: flex;
    justify-content: space-evenly;
    margin: 0rem 0rem 1rem 0rem;
    padding: 0 0 0 3rem;
  }
  .fct-container .btn1 {
    padding: 0 2rem 0 0;
    margin: 1rem 2.5rem 1rem 1rem;
  }
  .fct-container .btn2 {
    padding: 0 3rem 0 0;
    margin: 1rem 2.5rem 1rem 1rem;
  }
  .fct-container .btn3 {
    padding: 0 3rem 0 0;
    margin: 1rem 2.5rem 1rem 1rem;
  }

  .section-restaurants {
    width: 75%;
    background-color: #f2f2f2f2;
    margin: 3rem;
  }
  .section-restaurants .section-titre {
    padding: 3rem 0 0 2rem;
  }
  .section-restaurants .container-restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
  .section-restaurants .contenu-restaurants {
    grid-row-start: 2 span;
  }
  .section-restaurants .diapos1 {
    grid-row-start: 2;
  }
  .section-restaurants .diapos2 {
    grid-row-start: 2;
  }
  .section-restaurants .diapos3 {
    grid-row-start: 3;
  }
  .section-restaurants .diapos4 {
    grid-row-start: 5;
  }
  .section-restaurants .diapos-restaurants {
    margin: 0.5rem 1rem 3rem 1rem;
  }
  .section-restaurants .contenu-restaurants .rest-img {
    width: 35vw;
    height: 15vw;
  }
}
/*/ X-Large devices (large desktops, less than 1400px)*/
@media screen and (min-width: 1600px) and (max-width: 2000px) {
  .explore-section {
    height: 20vh;
  }
  .explore-section .explore-texte {
    margin: 0 0 3rem 0;
  }

  .fct-section {
    display: block;
    align-items: center;
    width: 100%;
  }
  .fct-section .fct-titre {
    padding: 3rem 7rem 1rem 7rem;
    text-align: center;
  }

  .fct-container {
    display: contents;
    flex-direction: column;
    margin: 0 0 0 0;
  }
  .fct-container .btns {
    display: flex;
    justify-content: space-evenly;
    margin: 0rem 0rem 1rem 0rem;
    padding: 0 0 0 3rem;
  }
  .fct-container .btn1 {
    padding: 0 2rem 0 0;
    margin: 1rem 2.5rem 1rem 1rem;
  }
  .fct-container .btn2 {
    padding: 0 3rem 0 0;
    margin: 1rem 2.5rem 1rem 1rem;
  }
  .fct-container .btn3 {
    padding: 0 3rem 0 0;
    margin: 1rem 2.5rem 1rem 1rem;
  }

  .section-restaurants {
    width: 75%;
    margin: 0rem;
    border-radius: 0px;
  }
  .section-restaurants .section-titre {
    padding: 3rem 0 0 2rem;
  }
  .section-restaurants .container-restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
  .section-restaurants .contenu-restaurants {
    grid-row-start: 2 span;
  }
  .section-restaurants .diapos1 {
    grid-row-start: 2;
  }
  .section-restaurants .diapos2 {
    grid-row-start: 2;
  }
  .section-restaurants .diapos3 {
    grid-row-start: 3;
  }
  .section-restaurants .diapos4 {
    grid-row-start: 5;
  }
  .section-restaurants .diapos-restaurants {
    margin: 0.5rem 1rem 3rem 1rem;
  }
  .section-restaurants .contenu-restaurants .rest-img {
    width: 35vw;
    height: 15vw;
  }
}
/*/ X-Large devices (large desktops, less than 1400px)*/
@media screen and (min-width: 2000px) {
  .explore-section {
    height: 20vh;
  }
  .explore-section .explore-texte {
    margin: 0 0 3rem 0;
  }

  .fct-section {
    display: block;
    align-items: center;
    width: 100%;
  }
  .fct-section .fct-titre {
    padding: 3rem 7rem 1rem 7rem;
    text-align: center;
  }

  .fct-container {
    display: contents;
    flex-direction: column;
    margin: 0 0 0 0;
  }
  .fct-container .btns {
    display: flex;
    margin: 0rem 0rem 1rem 0rem;
    padding: 0 0 0 3rem;
    justify-content: space-evenly;
  }
  .fct-container .btn1 {
    padding: 0 2rem 0 0;
    margin: 1rem 2.5rem 1rem 1rem;
  }
  .fct-container .btn2 {
    padding: 0 3rem 0 0;
    margin: 1rem 2.5rem 1rem 1rem;
  }
  .fct-container .btn3 {
    padding: 0 3rem 0 0;
    margin: 1rem 2.5rem 1rem 1rem;
  }

  .section-restaurants {
    width: 70%;
    margin: 0rem;
    border-radius: 0px;
  }
  .section-restaurants .section-titre {
    padding: 3rem 0 0 2rem;
  }
  .section-restaurants .contenu-restaurants {
    grid-row-start: 2 span;
  }
  .section-restaurants .diapos1 {
    grid-row-start: 2;
  }
  .section-restaurants .diapos2 {
    grid-row-start: 2;
  }
  .section-restaurants .diapos3 {
    grid-row-start: 3;
  }
  .section-restaurants .diapos4 {
    grid-row-start: 5;
  }
  .section-restaurants .container-restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    /*display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;*/
  }
  .section-restaurants .container-restaurants .rest-img {
    width: 35vw;
    height: 15vw;
  }
  .section-restaurants .diapos-restaurants {
    margin: 0.5rem 1rem 3rem 1rem;
  }
}
/***********************************************************************
Pages des cartes des restaurants
***********************************************************************/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .img-menus {
    height: 50vw;
    object-position: center;
  }

  .carte-restaurant {
    width: 100%;
    background-color: white;
    margin-top: -6.8rem;
    border-radius: 2rem 2rem 0 0;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1715px) {
  .img-menus {
    height: 40vw;
    object-position: center;
  }

  .carte-restaurant {
    width: 100%;
    background-color: white;
    margin-top: -6.8rem;
    border-radius: 2rem 2rem 0 0;
  }
  .carte-restaurant .entete .cartes-titre {
    padding: 2rem 0 0 0.5rem;
    text-align: center;
  }
  .carte-restaurant .entete .coeur {
    justify-content: flex-end;
    margin: 2.5rem 0;
  }

  .menus {
    flex-direction: row;
  }
}
@media screen and (min-width: 1715px) and (max-width: 3500px) {
  .img-menus {
    height: 40vw;
    object-position: center;
  }

  .carte-restaurant {
    width: 100%;
    flex-direction: row;
    margin-top: -8.8rem;
    background-color: white;
    border-radius: 2rem 2rem 0 0;
    max-width: 1715px;
  }
  .carte-restaurant .entete {
    flex-direction: column;
    align-items: end;
    width: 90%;
  }
  .carte-restaurant .entete .cartes-titre {
    padding: 3.5rem 0 0 0.5rem;
    text-align: center;
  }
  .carte-restaurant .entete .coeur {
    width: 20%;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    margin: 25px 0 0 75px;
  }

  .menus {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
  }

  .cmd {
    margin: 7rem 3rem 5rem 3rem;
  }
}
* {
  margin: 0;
  padding: 0;
}

header {
  box-shadow: 0.2rem 0.2rem 1rem;
  position: relative;
  width: 100%;
  text-align: center;
  /*box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);*/
  z-index: 1000;
  font-family: "Shrikhand", Roboto;
  width: 100%;
}

main {
  height: auto;
}

section {
  display: block;
}

.logo-accueil {
  font-size: 1rem;
}

h1, h2, h3, h4 {
  font-family: "Shrikhand", cursive;
  font-style: normal;
  font-weight: normal;
}

p {
  font-family: "Roboto", sans-serif;
}

/*******************************************
Positionnement du site en milieu de page
*******************************************/
html, header, main, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  background-color: #f2f2f2;
  width: 100%;
  height: auto;
  margin: 0;
}

.footer {
  max-width: 1715px;
}

.entrees:hover {
  animation: ico-menus 0.6s;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-play-state: running;
  animation-name: ico-menus;
}

/*&_.menus-header {        
    overflow: hidden;
    white-space: nowrap;
    }
   /* &_.menus-titre {
        margin: 0;
        align-content: flex-start;
        }*/
/* &_.menus-description {
     margin: 0;
     align-content: flex-start;
 }
 &_.menus-prix {
     @include menus-prix;
 }*/
.entrees .menus-choix:hover {
  margin-right: -1rem;
  cursor: pointer;
}

.entrees:hover_.btn.menus-choix {
  transform: scale(1);
}
.entrees:hover_.btn.menus-choix span {
  transform: translateY(0);
}

.menus-choix {
  background-color: #99e2d0;
  width: 4rem;
  height: 5rem;
  margin: -1rem -5rem -1rem 1rem;
  border-bottom-right-radius: 0.9rem;
  border-top-right-radius: 0.9rem;
  transition-duration: 0.5s;
  background-color: #99e2d0;
}

.menus-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
  color: #99e2d0;
  transform: rotate(360deg);
  animation-fill-mode: both;
  cursor: pointer;
}
.menus-icon_.ico-menus {
  transform: rotate(0);
}

/***********************************************
Spinner loader
***********************************************/
/*.accueil-francais
{
    height: 100%;
    width: 100%;
    font-weight: unit($number: 5);
    background-color: rgba(255, 255, 255, 0.9);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}*/
.loader-cerclecontainer {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.loader {
  animation: spin 1s infinite linear;
  animation-iteration-count: 2;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #09f;
  border-top-color: #09f;
  box-sizing: border-box;
  height: 20vmin;
  left: calc(50% - 10vmin);
  position: fixed;
  top: calc(50% - 10vmin);
  width: 20vmin;
  z-index: 10000;
}
.loader:before {
  animation: spin 2s infinite linear;
  animation-iteration-count: 2;
  animation-delay: 1.75s;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #3cf;
  border-top-color: #3cf;
  box-sizing: border-box;
  content: "";
  height: 16vmin;
  left: 0;
  position: absolute;
  top: 0;
  width: 16vmin;
}
.loader:after {
  animation: spin 3s infinite linear;
  animation-iteration-count: 2;
  animation-delay: 1.75s;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #6ff;
  border-top-color: #6ff;
  box-sizing: border-box;
  content: "";
  height: 12vmin;
  left: 2vmin;
  position: absolute;
  top: 2vmin;
  width: 12vmin;
}

/*# sourceMappingURL=style.css.map */
