/*************************************
Page d'accueil Header
*************************************/
@mixin header-accueil {
    box-shadow: 0.2rem 0.2rem 1rem;
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

/**********************************************************
Page d'accueil section fonctionnement
**********************************************************/
@mixin btn-menus 
{
    position: relative;
    background-color: white;
    border: 2px solid transparent;
    padding: 0 0.5rem 0 0;
    margin: 1rem 0.5rem 1rem 1rem;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #cecdcd, -5px -5px 10px #cfcece; 
}

@mixin btn-before
{
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    color: white;
    font-size: 1rem;
    background-color: $color-primary;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px #cecdcd, -5px -5px 10px #cfcece;
    left: 0;
    bottom: 0;
    transform: translate(-50%, -60%);
}

/***************************************************************
Page d'accueil section restaurants
***************************************************************/

@mixin diapos-titre {
    font-size: 1.2rem;
    color: black;
    padding: 0.3rem 1rem;
    font-style: normal;
    font-weight: normal;
}

@mixin diapos-description {
    font-size: 1.1rem;
    color: black;
    padding: 0rem 1rem;
}


/*****************************************
Pages des menus restaurants
*****************************************/

@mixin Container-menus {
    border-radius: 0.9rem;
    box-shadow: 0.2rem 0.2rem 1rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
}

@mixin cartouche-menu {
    flex: 1;
    overflow: hidden;
    white-space: nowrap; 
}

@mixin cartouche-titre {
    font-weight: inherit;
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

@mixin cartouche-description {
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

@mixin menus-select {
    width: 4rem;
    height: 5rem;
    margin: -1rem -5rem -1rem 1rem;
    border-bottom-right-radius: 0.9rem;
    border-top-right-radius: 0.9rem;
    transition-duration: .5s;
    background-color: $fond-menus;
    position: relative;
}

@mixin menus-icon {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;
    border-radius: 100px;
    transition-duration: .5s;
    transition-property: transform;
}

@mixin anim-menus {
    animation-fill-mode: both; 
    transform: scale(0);
    max-width: 100%;
}

@mixin menus-prix
{
    font-family: 'roboto';
    padding-bottom: 6px;
    padding-left: .5rem;   
}
