/*************************************
Page d'accueil Header
*************************************/
@mixin header-accueil {
    box-shadow: 0.2rem 0.2rem 1rem;
    position: relative;
    width: 100%;
    text-align: center;
}


@mixin Container-menus {
    border-radius: 0.9rem;
    box-shadow: 0.2rem 0.2rem 1rem;
    margin: 1rem 0;
   /* width: 98%;
    max-width: 98%;*/
}



@mixin menus-select {
    width: 4rem;
    height: 5rem;
    margin: -1rem -5rem -1rem 1rem;
    border-bottom-right-radius: 0.9rem;
    border-top-right-radius: 0.9rem;
    transition-duration: .5s;
    background-color: $fond-menus;
}

@mixin menus-icon {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: .5s;
}

@mixin anim-menus {
    animation: ico-menus .6s;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-name: ico-menus;
}

@mixin menus-prix
{
    font-family: 'roboto';
    padding-bottom: 2px;
    padding-left: .5rem;   
}

/**********************************************************
Page d'accueil section fonctionnement
**********************************************************/
@mixin btn-menus 
{
    padding: 0 1rem 0 0;
    position: relative;
    background-color: white;
    border: 2px solid transparent;
    margin: 1rem 0.5rem 1rem 1rem;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #cecdcd, -5px -5px 10px #cfcece; 
}

@mixin btn-before
{
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    color: white;
    font-size: 1rem;
    background-color: $color-primary;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px #cecdcd, -5px -5px 10px #cfcece;
    left: 0;
    bottom: 0;
    transform: translate(-50%, -60%);
}

/***************************************************************
Page d'accueil section restaurants
***************************************************************/
@mixin diapos-titre {
    font-size: 1.2rem;
    color: black;
    padding: 0.3rem 1rem;
    font-style: normal;
    font-weight: normal;
}

@mixin diapos-description {
    font-size: 1.1rem;
    color: black;
    padding: 0rem 1rem;
}
