
/***********************************************************************
Page d'accueil des restaurants
***********************************************************************/

// X-Small devices (portrait phones)
@media screen and (min-width: 280px) and (max-width: 767.98px) 
{
    .explore-section {
        height: 20rem;

        .explore-texte {
            margin: 0 0 3rem 0;
        }
    }    
}

// Small devices (landscape phones)
@media screen and (min-width: 767.98px) and (max-width: 1024px)
{
    .explore-section {
        height: 20rem;

        .explore-texte {
            margin: 0 0 3rem 0;
        }
    } 

    .fct-section {

        .fct-titre {
        padding: 3rem 7rem 1rem 1.5rem;
        text-align: left;
        font-size: 1.5rem;
        }
    }

    .section-restaurants {
        width: 75%;
        background-color: #f2f2f2f2;

        .section-titre {
            text-align: left;
            padding: 0 0 0 1rem;
        }

        .container-restaurants {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 50px 1fr 1fr;
            margin: 0rem 0 0 0;
        }

        .contenu-restaurants {
            grid-row-start: 2 span;
            }

            .diapos1 {
                grid-row-start: 2;
            }

            .diapos2 {
                grid-row-start: 2;
            }

            .diapos3 {
                grid-row-start: 3;
            }

            .diapos4 {
                grid-row-start: 5;
            }

        .diapos-restaurants {
            margin: 0.5rem 1rem 3rem 1rem;
        }

        .contenu-restaurants .rest-img {
            width: 45vw;
            height: 20vw;
        }
    }
}

// Large devices (desktops, less than 1600px)
@media screen and (min-width: 1024px) and (max-width: 1600px)
{    
    .explore-section {
        height: 20rem;

        .explore-texte {
            margin: 0 0 3rem 0;
        }
    }    
    
    .fct-section {
        display: block;
        align-items: center;
        width: 100%;

        .fct-titre {
            padding: 3rem 7rem 1rem 7rem;
            text-align: center;
        }
    }

        .fct-container {
            display: contents;
            flex-direction: column;
            margin: 0 0 0 0;

            .btns {
                display: flex;
                justify-content: space-evenly;
                margin: 0rem 0rem 1rem 0rem;
                padding: 0 0 0 1.5rem;
            }

            .btn1 {
                padding: 0 2rem 0 0;
                margin: 1rem 1.5rem 1rem 1rem;
            }
    
            .btn2 {
                padding: 0 3rem 0 0;
                margin: 1rem 1.5rem 1rem 1rem;
            }
    
            .btn3 {
                padding: 0 3rem 0 0;
                margin: 1rem 1.5rem 1rem 1rem;
            }
        }

    .section-restaurants {
        width: 75%;
        background-color: #f2f2f2f2;

        .section-titre {
            text-align: left;
            padding: 0 0 0 1rem;
        }

        .container-restaurants {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 50px 1fr 1fr;
            margin: 5rem 0 0 0;
        }

        .contenu-restaurants {
            grid-row-start: 2 span;
            }

            .diapos1 {
                grid-row-start: 2;
            }

            .diapos2 {
                grid-row-start: 2;
            }

            .diapos3 {
                grid-row-start: 3;
            }

            .diapos4 {
                grid-row-start: 5;
            }

        .diapos-restaurants {
            margin: 0.5rem 1rem 3rem 1rem;
        }

        .contenu-restaurants .rest-img {
            width: 45vw;
            height: 20vw;
        }
    }
}


/*/ X-Large devices (large desktops)*/
@media screen and (min-width: 1600px) and (max-width: 2000px)
{
    .explore-section {
        height: 20rem;

        .explore-texte {
            margin: 0 0 3rem 0;
        }
    }
        
    .fct-section {
        display: block;
        align-items: center;
        width: 100%;

        .fct-titre {
            padding: 3rem 7rem 1rem 7rem;
            text-align: center;
        }
    }
       
    .fct-container {
        display: contents;
        flex-direction: column;
        margin: 0 0 0 0;        

        .btns {
           display: flex;
           justify-content: space-evenly;
           margin: 0rem 0rem 1rem 0rem;
           padding: 0 0 0 3rem;
        }

        .btn1 {
            padding: 0 2rem 0 0;
            margin: 1rem 2.5rem 1rem 1rem;
        }

        .btn2 {
            padding: 0 3rem 0 0;
            margin: 1rem 2.5rem 1rem 1rem;
        }

        .btn3 {
            padding: 0 3rem 0 0;
            margin: 1rem 2.5rem 1rem 1rem;
        }
    } 
      
    .section-restaurants 
    {
        width: 75%;
        margin: 0rem;
        border-radius: 0px;

        .section-titre {
            text-align: left;
            padding: 0 0 0 1rem;
        }

        .container-restaurants {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 50px 1fr 1fr;
            grid-column-gap: 2rem;
            margin: 5rem 0 0 0;
        }

        .contenu-restaurants {
            grid-row-start: 2 span;
            }

            .diapos1 {
                grid-row-start: 2;
            }

            .diapos2 {
                grid-row-start: 2;
            }

            .diapos3 {
                grid-row-start: 3;
            }

            .diapos4 {
                grid-row-start: 5;
            }

        .diapos-restaurants {
            margin: 0.5rem 1rem 3rem 1rem;
        }

        .contenu-restaurants .rest-img {
            width: 35vw;
            height: 15vw;
        }
    }
}

/*/ X-Large devices (large desktops)*/
@media screen and (min-width: 2000px)
{
    .explore-section {
        height: 20vh;

        .explore-texte {
            margin: 0 0 3rem 0;
        }
    }
        
    .fct-section {
        display: block;
        align-items: center;
        width: 100%;

        .fct-titre {
            padding: 3rem 7rem 1rem 7rem;
            text-align: center;
        }
    }
       
    .fct-container {
        display: contents;
        flex-direction: column;
        margin: 0 0 0 0;
       
        .btns {
            display: flex;
            margin: 0rem 0rem 1rem 0rem;
            padding: 0 0 0 3rem;
            justify-content: space-evenly;
        }

        .btn1 {
            padding: 0 2rem 0 0;
            margin: 1rem 2.5rem 1rem 1rem;
        }

        .btn2 {
            padding: 0 3rem 0 0;
            margin: 1rem 2.5rem 1rem 1rem;
        }

        .btn3 {
            padding: 0 3rem 0 0;
            margin: 1rem 2.5rem 1rem 1rem;
        }
    } 
      
    .section-restaurants 
    {
        width: 70%;
        margin: 0rem;
        border-radius: 0px;

        .section-titre {
            text-align: left;
            padding: 0 0 0 1rem;
        }

        .contenu-restaurants {
            grid-row-start: 2 span;
            }

            .diapos1 {
                grid-row-start: 2;
            }

            .diapos2 {
                grid-row-start: 2;
            }

            .diapos3 {
                grid-row-start: 3;
            }

            .diapos4 {
                grid-row-start: 5;
            }
           

        .container-restaurants {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 50px 1fr 1fr;
            grid-column-gap: 2rem;
            margin: 5rem 0 0 0;
            
            .rest-img {
            width: 35vw;
            height: 15vw;
            }
        }
        
        .diapos-restaurants {

            margin: 0.5rem 1rem 3rem 1rem;
        }        
    }
}

.footer-accueil
{
    background-color: black;
    width: 100%;
    
    .footer-container {
    @extend %flex-col;
    padding: 1rem;

        .footer-menus {
        display: flex;
        justify-content: space-around;
        height: 2rem;
        padding: 5rem;
        font-size: 1.5rem            
        }

        .footer-liens {
        padding: 0;
        }

        .footer-logo {
        font-size: 2rem;
        text-decoration: none;
        }
        
        .footer-icon1 {
        font-size: 2rem;
        }

        .footer-icon2 {
        font-size: 2rem;
        }
    }    
}

/***********************************************************************
Pages des cartes des restaurants
***********************************************************************/

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) and (max-width: 1024px) {

    .img-menus {
        height: 50vw;
        object-position: center;
    }

    .carte-restaurant {
        width: 80%;
        background-color: white;
        margin-top: -6.8rem;
        border-radius: 2rem 2rem 0 0;
    }
}    

// Large devices (desktops, 1000px and up)
@media screen and (min-width: 1024px) and (max-width: 1315px) { 

    .img-menus {
        height: 40vw;
        object-position: center;
    }

    .carte-restaurant {
        width: 100%;
        background-color: white;
        margin-top: -6.8rem;
        border-radius: 2rem 2rem 0 0;

        .entete {

            .cartes-titre {
            padding: 2rem 0 0 0.5rem;
            text-align: center;
            }
        
            .coeur {
                justify-content: flex-end;
                margin: 2.5rem 0;
            }
        }
    }

    .menus {
        flex-direction: row;
        max-width: 95%;
        min-width: 95%;

        .section-menus {
        max-width: 30%;
        min-width: 30%;
        padding: 0 0 0 0;     
        }

        .entrees {
            max-width: 90%;
        }

        .plats {
            max-width: 90%;
        }

        .desserts {
            max-width: 90%;
        }
    }    
}

// Large devices (desktops, 1300px and up)
@media screen and (min-width: 1315px) and (max-width: 1715px) { 

    .img-menus {
        height: 40vw;
        object-position: center;
    }

    .carte-restaurant {
        width: 100%;
        background-color: white;
        margin-top: -6.8rem;
        border-radius: 2rem 2rem 0 0;

        .entete {

            .cartes-titre {
            padding: 2rem 0 0 0.5rem;
            text-align: center;
            }
        
            .coeur {
                justify-content: flex-end;
                margin: 2.5rem 0;
            }
        }
    }

    .menus {
        flex-direction: row;
        max-width: 90%;
        min-width: 90%;

        .section-menus {
        max-width: 30%;
        min-width: 30%;      
        }

        .entrees {
            max-width: 90%;

        }

        .plats {
            max-width: 90%;
        }

        .desserts {
            max-width: 90%;
        }
    }    
}

// X-Large devices (large desktops, 1700px and up)
@media screen and (min-width: 1715px) and (max-width: 3500px) {

    .img-menus {
        width: 100%;
        height: 40vw;
        object-position: center;
    }

    .carte-restaurant {
        width: 100%;
        flex-direction: row;
        position: relative;
        margin-top: -8.8rem;
        background-color: white;
        border-radius: 2rem 2rem 0 0;
        max-width: 1715px;

        .entete {
            flex-direction: column;
            width: 10%;

            .cartes-titre {
            padding: 3.5rem 0 0 0.5rem;
            text-align: center;
            font-size: 1.3rem;
            margin: 0 1rem 0 0;
            }
        
            .btn-coeur {
                width: 20%;
                display: flex;
                justify-content: center;
                font-size: 1.3rem;
                margin: 1rem auto;
            }
        }
    }

    .menus {
        max-width: 65%;
        min-width: 65%;
        display: flex;
        flex-direction: row;
        padding-bottom: 15px;

        .section-menus {
            max-width: 30%;
            min-width: 30%;       
        }

        .entrees {
            max-width: 90%;
        }

        .plats {
            max-width: 90%;
        }

        .desserts {
            max-width: 90%;
        }
    }

    .cmd {
    margin: 7rem 1.5rem 5rem 1.5rem;
    }

    .footer-restaurants {
        max-width: 1715px;
    }

    /********************************************
    Taille maximale du site sur ecran large
    ********************************************/
    .header {
        max-width: 2500px;
    }

    main {
        max-width: 2500px;
    }

    .footer-accueil {
        max-width: 2500px;
    }
}
