/*************************************
En tête des restaurants
*************************************/
header .page {
    max-width: 2000px;
}

.logo-menus {
    @extend %flex-center;
   
    .fleche {
        position: absolute;
        font-size: 1.2rem;
        left: 1.2rem;
    }

    .fa-arrow-left {
        align-self: start;
        color: black;
    }

    .ohmy {
        width: 70%;
    }
}

/***********************************
Header des cartes de menus 
***********************************/
.carte-restaurant {
    @extend %main-menus;
    @extend %header-menus;
}

.img-menus {
    @extend %img-menus;
}

/**********************************
Titre du menus et bouton "j'aime"
**********************************/

.entete {
    display: flex;
    justify-content: space-between;
    width: 95%;

    .cartes-titre {
        width: 100%;
        font-size: 1.4rem;
        padding: 1.5rem 0 0 1rem;
    }

    .btn-coeur {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        font-size: 1.3rem;
        margin: 1.5rem 0.5rem;        
    }

    .btn-menu {
        width: 2rem;
        height: 2rem;
        border: 0 solid transparent;
        padding: 0;
        cursor: pointer;
        position: relative;
        background-color: #000;
    }

    .btn-menu::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .btn-menu:hover::before {
        opacity: 1;
    }

    .btn-menu::before {
        opacity: 0;
        transition: .5s;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, $color-primary, $color-secondary);
    }

    .icon {
    @include icon-coeur;
    }

    .icon-j-aime {
    @include icon-coeur;
    }

    .btn-menu:hover {
        .icon-j-aime {                
            opacity: 0;                
        }
    }
}

/***************************************
Section menus
***************************************/
.menus {
    max-width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;

    .section-menus {
       max-width: 100%;
       padding: 0 0.5rem;
       margin: 0 1rem;
    }

    .carte-titre {
       font-size: 1rem;
       font-weight: inherit;
       margin-top: 20px;
    }

    .separateur {
       width: 4rem;
       height: 4px;
       background-color: $color-tertiary;
       margin: 0.5rem 0 0 0;
    }
}

/*****************************************
Container des menus
*****************************************/
.container {
    @extend %flex-container-menus;
    @include Container-menus;    
    overflow: hidden;
    cursor: pointer;

        .menus-header {
            @include cartouche-menu;
        }

        .menus-titre {
            @include cartouche-titre;
        }

        .menus-description {
            @include cartouche-description;
        }

        .menus-prix {
        @extend %flex-prix-menus;
        @include menus-prix; 
        font-weight: bold;
        }   
}

.entrees {
    animation-delay: 0s;
    animation: ico-menus .5s;
    @include anim-menus;   
}

.plats {
    animation-delay: 0.5s;
    animation: ico-menus 1s;
    @include anim-menus;
}

.desserts {
    animation-delay: 1s;
    animation: ico-menus 1.5s;
    @include anim-menus;
}

.menus-choix {
    @extend %flex-center;
    @include menus-select;
    animation: ico-menus 1s;    
}

.menus-icon {
    @extend %flex-center;
    @include menus-icon;    
    color: $fond-menus;
    animation-fill-mode: both;
    cursor: pointer;    
}

.menu:hover {
    @include anim-menus;

    .menus-choix {
    margin-right: -1rem;

        .menus-icon{
        animation: chevron 1s;
        }
    }
}

/*************************************
Bouton commander
*************************************/
.cmd {
    font-size: 1rem;
    padding: 1rem 5rem;
    margin: 3rem 3rem 5rem 3rem;
    border-radius: 100px;
    color: white;
    border: #9356DC;
    background-image: linear-gradient(to top, #9356DC, #FF79DA);
    box-shadow: 5px 5px 10px #cecdcd, -5px -5px 10px #cfcece;
    cursor: pointer;
    transition: opacity 0.8s;

    &:hover {
        background-color: rgb(204, 0, 255);
        border: transparent;
        opacity: 0.9;
    }

    &:active {
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
                border: transparent;
    }
}

/****************************************************
Footer des restaurants
****************************************************/

.footer-restaurants {
    background-color: black;
    width: 100%;
    
    .footer-container {
        @extend %flex-col;
        padding: 1rem;
    }
}

.footer-menus a {
    color: white;
    list-style: none;
    text-decoration: none;

    .footer-logo {
        color: white;
        text-decoration: none;
        font-family: $fonts;
        font-size: 1.5rem;
    }
    
    .footer-liens {
        padding: 0.2rem;
        
    }

    .footer-icon1 {
        padding: 0.3rem;
        font-size: 1rem;
    }

    .footer-icon2 {
        padding: 0.3rem;
        font-size: 0.7rem;
    }

    .footer-rest {
        @extend %footer-liens;
    }

    .footer-part {
        @extend %footer-liens;
    }

    .footer-legal {
        @extend %footer-liens;
    }

    .footer-contact {
        @extend %footer-liens;
    }
}
