//principales

//couleurs btn menus
$fond-menus: #99e2d0;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

//textes polices
$fonts: 'Shrikhand', Roboto,


//utilitaires position /dimension

