@import "_variables";
@import "_mixins";
@import "_animations";
@import "_placeholders";
@import "_accueil";
@import "_responsive";
@import "_restaurants";
@import "_responsive";

*{
    margin: 0;
    padding: 0;
}

body
{
    @extend %flex-center-menus;
}

header
{
    @extend %header-menus;
    @include header-accueil;
    font-family: $fonts;
    width: 100%;

}


main
{
   height: auto;
}


section
{
    display: block;
}

#logo
{
    @extend %header-logo;
}

.logo-accueil
{
    font-size: 1rem
}

h1, h2, h3, h4
{
    font-family: 'Shrikhand', cursive;
    font-style: normal;
    font-weight: normal;
}

p
{
    font-family: 'Roboto', sans-serif;
}

/*******************************************
Positionnement du site en milieu de page
*******************************************/

html, header, main, body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100%;
    height: auto;
    margin: 0;

}

/*body
{
    width: 100%;
    height: 100vh;
    margin: auto;
    align-content: center;
}*/

header
{
    max-width: 1715px;
}

/*img
{
    max-width: 1950px;
}*/

main
{
    max-width: 1715px;
}

.footer
{
    max-width: 1715px;
}


.entrees:hover
{
    @include anim-menus;
}

/*&_.menus-header {        
    overflow: hidden;
    white-space: nowrap;
    }
   /* &_.menus-titre {
        margin: 0;
        align-content: flex-start;
        }*/
       /* &_.menus-description {
            margin: 0;
            align-content: flex-start;
        }
        &_.menus-prix {
            @include menus-prix;
        }*/





.entrees .menus-choix:hover
{
    margin-right: -1rem;
    cursor: pointer;
    
   
}

.entrees:hover 
{
    &_.btn.menus-choix
    {
        transform: scale(1);
        span {
            transform: translateY(0);
        }
        
    }
       
   
}


.menus-choix
{
    @extend %flex-center;
    background-color: $fond-menus;
    @include menus-select;
}

.menus-icon
{
    @extend %flex-center;
    @include menus-icon;    
    color: $fond-menus;
    transform: rotate(360deg);
    animation-fill-mode: both;
    cursor: pointer;
    &_.ico-menus
        {
            transform: rotate(0);
        }
}





/***********************************************
Spinner loader
***********************************************/

/*.accueil-francais
{
    height: 100%;
    width: 100%;
    font-weight: unit($number: 5);
    background-color: rgba(255, 255, 255, 0.9);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.loader-cerclecontainer
{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    top: 0;
    background-color: hsla(0,0%,100%,.9);
}

.loader {
    animation:spin 1s infinite linear;
    animation-iteration-count: 2;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color:#09f;
    border-top-color:#09f;
    box-sizing:border-box;
    height:20vmin;
    left:calc(50% - 10vmin);
    position:fixed;
    top:calc(50% - 10vmin);
    width:20vmin;   
    z-index:10000;
    &:before {
      animation:spin 2s infinite linear;
      animation-iteration-count: 2;
      animation-delay: 1.75s;
      border:solid 2vmin transparent;
      border-radius:50%;
      border-right-color:#3cf;
      border-top-color:#3cf;
      box-sizing:border-box;
      content:"";
      height:16vmin;
      left:0;
      position:absolute;
      top:0;
      width:16vmin;
    }
    &:after {
      animation:spin 3s infinite linear;
      animation-iteration-count: 2;
      animation-delay: 1.75s;
      border:solid 2vmin transparent;
      border-radius:50%;
      border-right-color:#6ff;
      border-top-color:#6ff;
      box-sizing:border-box;
      content:"";
      height:12vmin;
      left:2vmin;
      position:absolute;
      top:2vmin;
      width:12vmin;
    }
  }
  




